<ion-view title="Clasificados">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

      <ion-refresher pulling-text="Actualizar" on-refresh="doRefresh()"></ion-refresher>
      <ul>
        <li ng-repeat="clasificado in clasificados">
          <div class="list card">
            <div class="item item-body">
              <p>{{clasificado.categoria}}: {{clasificado.fecha}}</p>
              <h2>{{clasificado.operacion}}: {{clasificado.oferta}}</h2>
              <p>Precio: $ {{clasificado.precio}}</p>
              <p>Email: {{clasificado.email}}</p>
              <p>Telefono: {{clasificado.telefono}}</p>
            </div>
          </div>
        </li>
      </ul>


  </ion-content>
</ion-view>
