<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-calm nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-android-stair-drawer"></i> Volver</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-calm">
      <h1 class="title">Opciones</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/noticias">
          Noticias
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/clasificados">
          Clasificados
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
