<?xml version='1.0' encoding='utf-8'?>
<widget id="com.codexcontrol.virasorovirtual" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>VirasoroVirtual</name>
    <description>
        Developer for CodexControl.com
    </description>
    <author email="info@codexcontrol.com" href="http://codexcontrol.com/">
      info@codexcontrol.com
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>

    <icon src="res/icons/android/icon-36-ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="res/icons/android/icon-48-mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="res/icons/android/icon-72-hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="res/icons/android/icon-96-xhdpi.png" gap:platform="android" gap:density="xhdpi" />

</widget>
